<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- Spring的入门的配置-->
    <bean id="userDao" class="com.xiaosc.spring.demo1.UserServiceImpl">
        <property name="name" value =  "李东"/>
    </bean>

    <!--Spring的Bean的生命周期的配置 -->
    <bean id="customerDao" class="com.xiaosc.spring.demo2.CustomerDaoImpl" scope="prototype" init-method="setUp" destroy-method="destroy"/>

    <!--通过静态工厂方法来配置bean，注意不是配置静态方法实例，而是配置bean实例-->
    <!--
        class属性：指向静态工厂方法的全类名
        factory-arg：如果是工厂方法需要传入参数，则使用constryctor-arg 来配置参数
    -->
    <bean id="staticcar" class="com.xiaosc.spring.Demo3.StaticCarFactory" factory-method="getCar">
        <constructor-arg value="xiao"/>
    </bean>

    <!--配置工厂的实例-->
    <bean id="carFactory" class="com.xiaosc.spring.Demo3.CarFactory"/>

    <!--通过实例工厂方法来配置bean-->
    <bean id="car" factory-bean="carFactory" factory-method="getCar">
        <constructor-arg value="xiao"/>
    </bean>


    <!-- 构造方法的属性注入-->
   <!-- <bean id="carc" class="com.xiaosc.spring.Demo4.Car">
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="price" value="67890"/>
    </bean> -->

    <!--set方法的属性注入-->
    <bean id="cars" class="com.xiaosc.spring.Demo4.Car">
        <property name="name" value="王五"/>
        <property name="price" value="783526"/>
    </bean>

    <!--set方法注入对象类属性-->
    <bean id="employee" class="com.xiaosc.spring.Demo4.Employee">
        <property name="name" value="涛涛江水"/>
        <property name="car" ref="cars"/>
    </bean>

    <!--Spring集合类的注入-->
    <bean id="applicationContext" class="com.xiaosc.spring.Demo5.CollectionBean">
        <property name="arrs">
            <list>
                <value>王五</value>
                <value>赵六</value>
                <value>李四</value>
            </list>
        </property>
    </bean>
</beans>