<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        <!-- Spring的IOC的注解的入门-->
        <!--使用IOC的注解开发，配置组建扫描（那些包下的类需要使用IOC扫描）-->
        <!--扫描是为了扫描类上的注解-->
    <!--<context:component-scan base-package="SpringIOC.Xiao"></context:component-scan>-->
    <!--在没有扫描的情况下，使用属性注入的注解：@Resource、@Value、@Authowired、@Qulifier-->
    <context:annotation-config/>
    <bean id="productService" class="SpringIOC.Xiao.Demo3.ProductService">
        <!--<property name="productDao" ref="productDao"></property>
        <property name="orderDao" ref="orderDao"></property>-->

    </bean>

    <bean id="productDao" class="SpringIOC.Xiao.Demo3.ProductDao"/>
    <bean id="orderDao" class="SpringIOC.Xiao.Demo3.OrderDao"/>

</beans>